<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
        <h3>＜全投稿一覧＞</h3>
        <table class='table table-hover table-inverse'>
         <%= flash[:admin] %>
            <thead>
              <tr>
                <th>活動タイトル</th>
                <th>投稿画像</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @books.each do |book| %>
                  <td><%= book.title %></td>
                  <td><%= attachment_image_tag book, :image, :fill, 50, 50, fallback: "no-image-icon.jpg" %></td>
                  <td>
                  <%= link_to '投稿詳細', admin_book_path(book), class: "book_#{book.id}" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
    </div>
  </div>
</div>