<div class="container">
  <div class="row">
    <div class="col-10 mx-auto text-center">
      <h1 class="my-4" style="font-size:4.5rem;">sus amigables y sus voluntarios</h1>
      <div class="">
        <p style="font-size:1.3rem;line-height: 2.5rem;">
          Las Carasはあなたの親切を投稿するサイトです。<br>
          普段からあなたが行っている親切を投稿することで世界が変わります。<br>
          <br>
          あなたの親切はポイント数で評価されて善意ランキングで表示されます。<br>
          よって、良い親切をすればするほど、あなたのサイト内での評価が上がり<br>
          就活や就学に活かすことができます。<br>
          
          さぁ、今すぐ、会員登録をして、徳を重ねましょう。<br>
          <br>
          会員ではない方も投稿をを見ることはできますが、<br>
          投稿とポイント投票には会員登録が必要になります。<br>
        </p>
      </div>
      <div id="about_visual" class="mx-auto"></div>
    </div>
  </div>
</div>