<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
        <!--↓↓プロフィールの内容-->
        <table class='table'>
          <tr><%= attachment_image_tag(@customer, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
          <tr>
        	  <th>ユーザー名</th>
        	  <th>自己紹介</th>
          </tr>
          <tr>
        	  <th><%= @customer.name %></th>
        	  <th><%= @customer.introduction %></th>
          </tr>
          <tr>
            <%= link_to "退会処理", admin_path(@customer.id),, method: :PATCH, data: {confirm: "不適切なユーザの退会をします。"}, class: "btn btn-danger" %>
          </tr>
        </table>
    </div>
  </div>
</div>