<div class="container">
  <div class="row">
    <div class="col-10 mx-auto text-center">
      <br>
      <h1 class="my-4" style="font-size:4.5rem;">Las Caras para sus amigables y sus voluntarios</h1>
      <h1 class="my-3" style="font-size:3.5rem;">あなたの親切が世界を変える</h1>
      <br>
      <br>
      <div class="">
        <%= flash[:destroy] %>
        <p style="font-size:2.0rem;line-height: 3.0rem;">
          <%= link_to "Las Carasについて知りたい", homes_about_path %>／
          <%= link_to "ログインして親切を投稿する", new_customer_session_path %>
        </p>
      <div id="about_visual" class="mx-auto"></div>
    </div>
  </div>
</div>