<li class="nav-item">
  <%= link_to "登録一覧", public_customers_index_path, class:"nav-link ml-2" %>
</li>
<li class="nav-item">
  <%= link_to "投稿一覧", public_books_path, class:"nav-link ml-2" %>
</li>
<li class="nav-item">
  <%= link_to "新規登録", new_customer_registration_path, class:"nav-link ml-2" %>
</li>
<li class="nav-item">
  <%= link_to "ログイン", customer_session_path, class:"nav-link ml-2" %>
</li>